[Desktop Entry]
Name=ODG File...
Name[fr]=Dessin OpenDocument...
Comment=Enter ODG filename:
Comment[fr]=Saisir le nom du fichier ODG :
Type=Link
URL=.source/ODGFile.odg
Icon=application-vnd.oasis.opendocument.graphics
