[Desktop Entry]
Name=ODP File...
Name[fr]=Présentation OpenDocument...
Comment=Enter ODP filename:
Comment[fr]=Saisir le nom du fichier ODP :
Type=Link
URL=.source/ODPFile.odp
Icon=application-vnd.oasis.opendocument.presentation
